#binary-search-tree-container {
  width: 100%;
  height: 100vh;
}

[for=binary-tree-input] {
  font-weight: bold;
}

#node-value-submit {
  margin: 0 0 0.25rem 1rem;
}

.rd3t-svg {
  padding-top: 1rem;
}

/* hide all empty leaf nodes */
.leafNodeBase {
  display: none;
}