#traveling-salesman-form {
  margin-left: 45px;
  position: relative;
  z-index: 10;
}

#traveling-salesman-form .list-group {
  position: absolute;
}

.btn-primary {
  margin-left: 6px;
}

#traveling-salesman-map-wrapper {
  position: relative;
  bottom: 70px;
}