#traveling-salesman-form {
  margin-left: 3rem;
  position: relative;
  z-index: 10;
}

[for=traveling-salesman-input] {
  font-weight: bold;
}

#city-click-message {
  margin-left: 3rem;
  position: absolute;
  width: 19rem;
}

#traveling-salesman-form .list-group {
  position: absolute;
}

.btn-primary {
  margin: 0 0 .1rem .5rem;
}

#traveling-salesman-map-wrapper {
  position: relative;
  bottom: 3rem;
}